body, h1, h2, h3, h4, h5, h6,
ul, ol, dl, dd,
p, td, th,
button, input, select, figure,
fieldset, legend {
	margin: 0;
	padding: 0;
}
body, input, textarea, select, button {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, AppleSDGothicNeo, sans-serif;
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
}
em,i,address {
	font-style: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
    background: none;
    cursor: pointer;
    border: 0;
}
img {
    border: 0;
	vertical-align: top;
}
fieldset {
	border: 0;
}